---
import PageLayout from '@layouts/PageLayout.astro';
import PostsListSection from '@components/post/PostsListSection.astro';
import { siteConfig } from '@/config/site';
import { postUi } from '@/data/posts';
import { breadcrumbTrails } from '@/lib/breadcrumb';
---
<PageLayout
  lang="en-CA"
  title={`${postUi.listTitle} | ${siteConfig.siteName}`}
  description={postUi.listSubtitle}
  breadcrumbs={breadcrumbTrails.blog('en')}
>
  <main>
    <PostsListSection />
  </main>
</PageLayout>
